body {
background-image: url(../assets/images/1200px-Metra-System.png);
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: Georgia; 
    font-weight: bold;
}
.jumbotron {
    font-family: Georgia; 
    font-weight: bold;
    color: white;
    /* I coudn't change the color of background here so I changed it through html */
}
h4 {
    font-family: Georgia; 
    font-weight: bold;
    color: rgb(7, 7, 7);
    margin-right: 10px;
    align-content: center;
}
.card-header{
    color: aliceblue;
    font-family: Georgia;
}
.card-body{
    background-color: rgb(63, 62, 62);
    color: aliceblue;
    font-family: Georgia;
}
.card {
    font-family: Georgia;
    background-color: rgb(63, 62, 62);
    color: aliceblue; 
    
}
table.th {
    font-family:  Georgia; 
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: aliceblue;
}
tbody {
    background-color: rgb(63, 62, 62);
    color: aliceblue; 
    font-family:  Georgia;
}

.firstCol {
    
    
}

.sideCol {
    
}
.form-control-sm{
  font-family: Georgia; 
  font-weight: bold;
  font-size: 14px;
}
thead {
    background-color: rgb(41, 40, 40);
    color: rgb(255, 255, 255);
}
